<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sumi.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="cn.sumi.pojo.Post" >
    <constructor >
      <idArg column="pid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="publish_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="comments" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="views" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.sumi.pojo.Post" >
    <constructor >
      <idArg column="pid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="publish_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="comments" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="views" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contents" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pid, title, author, cid, publish_date, comments, views
  </sql>
  <sql id="Blob_Column_List" >
    contents
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from post
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sumi.pojo.Post" useGeneratedKeys="true" keyProperty="pid">
    insert into post (pid, title, author, 
      cid, publish_date, comments, 
      views, contents)
    values (#{pid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{cid,jdbcType=INTEGER}, #{publishDate,jdbcType=DATE}, #{comments,jdbcType=INTEGER}, 
      #{views,jdbcType=INTEGER}, #{contents,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.sumi.pojo.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="contents != null" >
        contents,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=DATE},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="contents != null" >
        #{contents,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sumi.pojo.Post" >
    update post
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=DATE},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="contents != null" >
        contents = #{contents,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.sumi.pojo.Post" >
    update post
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      comments = #{comments,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      contents = #{contents,jdbcType=LONGVARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sumi.pojo.Post" >
    update post
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=DATE},
      comments = #{comments,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>